[submodule "vim/pack/dotfiles/start/vim-sensible"]
	path = vim/pack/dotfiles/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/dotfiles/start/vim-airline"]
	path = vim/pack/dotfiles/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/dotfiles/start/vim-airline-themes"]
	path = vim/pack/dotfiles/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/dotfiles/start/vim-better-whitespace"]
	path = vim/pack/dotfiles/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/pack/dotfiles/start/vim-yaml"]
	path = vim/pack/dotfiles/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "vim/pack/dotfiles/start/vim-go"]
	path = vim/pack/dotfiles/start/vim-go
	url = https://github.com/fatih/vim-go.git
