[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-indentline"]
	path = vim/bundle/vim-indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-yaml"]
	path = vim/bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "vim/bundle/vim-sunburst"]
	path = vim/bundle/vim-sunburst
	url = https://github.com/sickill/vim-sunburst.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-nerdtree"]
	path = vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-python-mode"]
	path = vim/bundle/vim-python-mode
	url = https://github.com/klen/python-mode
